@use '../variables';

.bookCard {
  margin: 20px;
  width: 300px;
  height: 380px;
  background-color: variables.$white;
  border-radius: 2px;
  
  align-self: center;
  justify-self: center;

  .image {
    position: relative;
    left: -20px;
    top: -20px;
    border-radius: 2px 0;
    @include variables.drop-shadow(2px, 2px);
  }
  .bookInfo {
    height: 75px;
    position: relative;
    left: 20px;
    top : -75px;  
    @include variables.drop-shadow(2px, 2px);
    color: variables.$white;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    .title{
      font-size: 32px;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 300px;
      display: block;
      overflow: hidden;
    }
    .author {
      font-style: italic;
      font-size: 20px;
      align-self: flex-end;
    }
  }
  .votes {
    position: relative;
    top: -55px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
  }
}