@use '../variables';


.header {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 40;

  .burger {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .dropdown {
    list-style: none;
    padding-top: 50px;
    width: variables.$responsive-size;

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      background-color: variables.$seashell;

      .selected {
        background-color: variables.$white;
        padding: 5px;
        border-radius: 2px;
        width: 60%;
        align-self: flex-end;
      }

      li {
        color: variables.$dark-brown;
        text-align: right;
        font-size: 25px;
        margin-top: 40px;
        margin-right: 20px;
        height: 30px;
        cursor: pointer;

        a {
          text-decoration: none;
          color: variables.$dark-brown;
          display: inline-flex;
          height: 1em;
          overflow: hidden;
          flex-direction: column;
          padding: 1px;
          justify-items: center;

          &:hover .inner {
            transform: translateY(-100%);
          }

          .inner {
            transform: translateY(0);
            transition: transform 0.6s;
          }
        }
        &:nth-child(4) {
          margin-top: 55px;
          height: 60px;
        }
      }
    }
  }

  .navbar {
    list-style: none;
    padding-top: 50px;
    width: 900px;
    display: flex;
    justify-content: center;

    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      

      .selected {
        background-color: variables.$white;
        padding: 5px;
        border-radius: 2px;
      }

      li {
        height: 1.3em;
        color: variables.$dark-brown;
        font-size: 25px;
        margin-left: 45px;
        cursor: pointer;

        a {
          text-decoration: none;
          color: variables.$dark-brown;
          display: inline-flex;
          height: 1em;
          overflow: hidden;
          flex-direction: column;
          padding: 1px;
          justify-items: center;

          &:hover .inner {
            transform: translateY(-100%);
          }

          .inner {
            transform: translateY(0);
            transition: transform 0.6s;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1066px) {
  .header {

    .navbar {
      width: 1066px;
      justify-content: flex-end;
    }
  }
}