// Colors

$seashell: hsla(23, 100%, 95%, 1);
$red: hsla(356, 63%, 54%, 1);
$dark-brown: hsla(356, 100%, 8%, 1);
$blue: hsla(190, 58%, 24%, 1);
$green: hsla(159, 53%, 28%, 1);
$white: hsla(240, 20%, 99%, 1);
$black: hsla(0, 0%, 0%, 1);
$yellow: hsla(25, 63%, 57%, 1);
$purple: hsla(240, 56%, 54%, 1);
//Sizing

$desktop-size : 1066px;
$responsive-size: 100%;

@mixin drop-shadow($x, $y) {
  filter: drop-shadow($x $y 0px $dark-brown);
}