@use 'variables';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .sideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    .bookImgMod{
      .bookImg {
        @include variables.drop-shadow(2px, 2px)
      }
      .bookImgForm {
        .bookImgInput{
          display: none;
        }
        .bookImgLabel {
          display: block;
          cursor: pointer;
          @include variables.drop-shadow(2px,2px);
          color: variables.$white;
          background-color: variables.$green;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px;
          padding-top: 9px;
          width: 240px;
          position: relative;
          top: -10px;
          left: 70px;
          transition: background-color 0.5s;
          &:hover {
            background-color: darken(variables.$green, 10%);
            transition: background-color 0.5s;
          }
        }
      }
    }
    .restrain {
      width: 280px;
    }
  }
  .bookDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 600px;
    .button {
      align-self: flex-end;
      margin-top: 30px;
    }
    .chapter {
      width: 100%;
      margin-top: 45px;
      display: flex;
      flex-direction: column;
      .chapTitle {
        font-size: 20px;
        margin-bottom: 15px;
      }

      .nav {
        align-self: flex-end;
        margin-top: 10px;
      }
    }
    .createChapter {
      width: 95%;
      height: 45px;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: variables.$green;
      @include variables.drop-shadow(2px, 2px);
      color: variables.$white;
      margin-top: 30px;
      cursor: pointer;
      transition: background-color 0.5s;
      &:hover {
        background-color: darken(variables.$green, 10%);
        transition: background-color 0.5s;
      }
    }
    .publishedButton {
      width: 300px;
      height: 45px;
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: variables.$green;
      @include variables.drop-shadow(2px, 2px);
      color: variables.$white;
      margin-top: 30px;
      cursor: pointer;
      transition: background-color 0.5s;

      &:hover {
        background-color: darken(variables.$green, 10%);
        transition: background-color 0.5s;
      }
    }
    .waiting {
      background-color: variables.$yellow;
      &:hover {
        background-color: darken(variables.$yellow, 10%);
        transition: background-color 0.5s;
      }
    }
  }
}

@media screen and (min-width:900px) and (max-width:1066px) {
  .main {
    .sideBar{
      .selectors {
        display: flex;
      }
    }
  }
}

@media screen and (min-width:1066px) {
  .main {
    display: grid;
    grid-template-columns: 310px 600px;
    gap:200px;
    align-items: flex-start;

    
    .bookDesc{
      .createChapter {
        align-self: flex-end;   
      }
    }
  }  
}