@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.container {
  width: 100vw;
  height: 100vh;
  background-color: black;

  .button {
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .back, .bookmarkSave {
      cursor: pointer;
      align-self: center;
      width: 45px;
      height: 45px;
      .image {
        width: 100%;
        height: 100%;
        position: relative;
      }
    }
  }

  .whiteBox {
    font-family: 'Lora', serif;
    font-size: 20px;
    margin: auto;
    width: 100%;
    max-width: 800px;
    height: 100vh;
    overflow-y: scroll;
    background-color: variables.$white;

    .text {
      max-width: 600px;
      margin: auto;
      margin-top: 80px;
    }
  }

  .editor {
    padding-top: 45px;
    font-family: 'Lora', serif;
    font-size: 20px;
    margin: auto;
    width: 100%;
    max-width: 800px;
    height: 100vh;
    overflow-y: hidden;
    background-color: variables.$white;
  }
}



@media screen and (min-width: 1066px) {
  .container {
    width: 100vw;
    height: 100vh;
    background-color: black;

    .button {
      position: fixed;
      top: 75px;
      left: 75px;
      width: 75px;
      height: 195px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .back,
      .bookmarkSave {
        cursor: pointer;
        width: 75px;
      height: 75px;
      .image {
        width: 100%;
        height: 100%;
        position: relative;
      }
      }
    }
  }
}