@use 'variables';

.userNav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .linksList {
    list-style: none;
    .link {
      @include variables.drop-shadow(2px, 2px);
      width : 240px;
      height: 45px;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      padding-left: 5px;
      color: variables.$white;
      text-decoration: none;
    }
    .link:nth-child(1){
      background-color: variables.$blue;
      transition: background-color 0.5s;
      transition: transform 0.5s;
      &:hover {
        background-color: darken(variables.$blue, 10%);
        transition: background-color 0.5s;
        transition: transform 0.5s;
        transform: translateX(10px);
      }
    }
    .link:nth-child(2){
      background-color: variables.$red;
      transition: background-color 0.5s;
      transition: transform 0.5s;
      &:hover {
        background-color: darken(variables.$red, 10%);
        transition: background-color 0.5s;
        transition: transform 0.5s;
        transform: translateX(10px);
      }
    }
    .link:nth-child(3){
      background-color: variables.$green;
      transition: background-color 0.5s;
      transition: transform 0.5s;
      &:hover {
        background-color: darken(variables.$green, 10%);
        transition: background-color 0.5s;
        transition: transform 0.5s;
        transform: translateX(10px);
      }
    }
  }
}

@media screen and (min-width: 900px) and (max-width: 1065px){
  .userNav{
    .linksList{
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
    }
  }
  
}